
body{
	background: black;
	margin: 0;
	padding: 0;
}

a{
	color: white;
}


.eye{
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

.eyeword{
	position: absolute;
	left: 49%;
	top: 270px;
	transform: translateX(-50%);
	color: white;
	font-family: arial, sans-serif;
	z-index: -1;
	font-weight: bold;
}

.word{
	color: white;
	font-family: arial, sans-serif;
}

.leftbox{
	display: inline-block;
	position: absolute;
	left: 0px;
	top: 0;
	width: 210px;
	height: 4101px;


	background: black; 
    background: -webkit-linear-gradient(black, #e0d9d7); 
    background: -o-linear-gradient(black, #e0d9d7); 
    background: -moz-linear-gradient(black, #e0d9d7); 
    background: linear-gradient(black, #e0d9d7);
    z-index: -1;
}

.rightbox{
	display: inline-block;
	position: absolute;
	left: 1216px;
	top: 0;
	width: 210px;
	height: 4101px;

	background: black; 
    background: -webkit-linear-gradient(black, #e0d9d7); 
    background: -o-linear-gradient(black, #e0d9d7); 
    background: -moz-linear-gradient(black, #e0d9d7); 
    background: linear-gradient(black, #e0d9d7);
 	z-index: -1;
}

.left {
	position: absolute;
	top: 0;
	left: 0px;
	width: 220px;
	height: 100%;
	background: black;
	display: inline-block;
	z-index: -5;

}

.right {
	position: absolute;
	top: 0;
	right: 0;
	/*margin-left: 1195px;*/
	width: 220px;
	height: 100%;
	background: black;
	display: inline-block;
	z-index: -5;

}

.middle{
	height: 100%;
	background: black;
	display: inline-block;
}

.phrase1{
	position: relative;
	width: 210px;
	top: 800px;
	left: 410px;
}

.phrase2{
	position: relative;
	width: 300px;
	top: 1600px;
	left: 500px;
}

.phrase3{
	position: absolute;
	width: 240px;
	left: 830px;
	top: 2600px;
	left: 49%;
	transform: translateX(-50%);
	z-index: -1;
}

.phrase4{
	position: relative;
	width: 290px;
	top: 3450px;
	left: 500px;
}

.phrase5{
	position: absolute;
	width: 250px;
	top: 800px;
	left: 49%;
	transform: translateX(-50%);
	z-index: -1;
}

.phrase6{
	position: absolute;
	width: 250px;
	top: 1600px;
	left: 49%;
	transform: translateX(-50%);
	z-index: -1;
}

.phrase7{
	position: relative;
	width: 51px;
	top: 2600px;
	left: 945px;
}

.phrase8{
	position: relative;
	width: 230px;
	top: 4010px;
	left: 22px;
}

a {
	text-decoration: none;
	color: #f00;
}

@font-face {
   font-family: cambay;
   src: url(../font/Cambay-Regular.ttf);
}

@font-face {
   font-family: antic;
   src: url(../font/Antic-Regular.ttf);
}



